<?xml version="1.0" ?>
    <rss version="2.0"  xmlns:atom="http://www.w3.org/2005/Atom">
        <channel>
            <title>RSS feed for tag server on Raymii.org</title> 
            <link>https://raymii.org/s/tags/server.xml</link> 
            <description>RSS feed for tag server on Raymii.org</description>
            <atom:link href="https://raymii.org/s/tags/server.xml" rel="self" type="application/rss+xml" />
    
            <item>
                <title>Windows 10 updates with PowerShell</title> 
                <link>https://raymii.org/s/blog/Windows_10_Updates_with_PowerShell_PSWindowsUpdpate.html</link> 
                <guid>https://raymii.org/s/blog/Windows_10_Updates_with_PowerShell_PSWindowsUpdpate.html</guid>
                <description>Recently I had issues updating one of my machines that runs Windows 10. Turns out the firewall was to restrictive. However, the information provided by the update dialog was just, 'Oh, updating failed, maybe try again'. Nothing useful, so I tried to figure out if it's possible to use Powershell for updating. Since Windows 10 build 1709 Microsoft provides a built in module, but that is not that user friendly. In this article I'll talk about using PSWindowsUpdate and the built in Microsoft WindowsUpdateProvider to update a Windows 10 machine via the commandline</description> 
                <pubDate>Mon, 06 Jan 2020 00:00:00 GMT</pubDate>
                <lastBuildDate>Mon, 06 Jan 2020 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Site updates, new layout</title> 
                <link>https://raymii.org/s/blog/Site_updated_new_2019_layout.html</link> 
                <guid>https://raymii.org/s/blog/Site_updated_new_2019_layout.html</guid>
                <description>This site is generated with my self-written open source static site generator named ingsoc (named after 1984). I've updated the layout of the website to be less cluttered, allowing you to get to the content much faster. Inspired by my recent gopher adventures I decided to do away with the 2 column layout (drop the sidebar with menu) and have a smaller header with essential links. On mobile this makes a huge difference in scrolling, on the desktop it looks less cluttered. This article details all the changes with side by side images showing differences.</description> 
                <pubDate>Wed, 08 May 2019 00:00:00 GMT</pubDate>
                <lastBuildDate>Wed, 08 May 2019 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Site updates, raymii.org now also available on Gopher</title> 
                <link>https://raymii.org/s/blog/Site_updates_raymii.org_now_on_gopher.html</link> 
                <guid>https://raymii.org/s/blog/Site_updates_raymii.org_now_on_gopher.html</guid>
                <description>I've made some new improvements to this website, you can now view raymii.org on Gopher! Building on the last site improvement, every article being available as plain text, it was easy to generate a gophermap file and bind it all together with pygopherd.</description> 
                <pubDate>Sun, 10 Mar 2019 00:00:00 GMT</pubDate>
                <lastBuildDate>Sun, 10 Mar 2019 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>SSH on Windows Server 2019 (including how to sudo)</title> 
                <link>https://raymii.org/s/tutorials/SSH_on_Windows_Server_2019.html</link> 
                <guid>https://raymii.org/s/tutorials/SSH_on_Windows_Server_2019.html</guid>
                <description>On hackernews I saw a Microsoft blog post stating that Windows Server 2019 now includes OpenSSH. In this post I'll try out both the client and server on a Windows 2019 server, including how to login as a Active Directory Domain user and how to generate and place and SSH keypair. The bonus this time is how to elevate permissions via SSH on Windows, sudo but way more complicated. This guide is also applicable on Windows 10, build 1809 and up.</description> 
                <pubDate>Tue, 18 Dec 2018 00:00:00 GMT</pubDate>
                <lastBuildDate>Tue, 18 Dec 2018 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Use Ubuntu behind a Microsoft ForeFront TMG proxy with cntlm</title> 
                <link>https://raymii.org/s/tutorials/Use_Ubuntu_behind_a_Microsoft_ForeFront_TMG_proxy_with_cntlm.html</link> 
                <guid>https://raymii.org/s/tutorials/Use_Ubuntu_behind_a_Microsoft_ForeFront_TMG_proxy_with_cntlm.html</guid>
                <description>Recently I had to deploy a few machines in a network where outgoing network access was forced through a Microsoft Forefront TMG proxy. For all the Windows clients this went automatically due to domain policies, for Linux this has to be set up manually. Defining the proxy in /etc/environment was not enough since NTML authentication is required, which is not supported by default. I found cntlm, a piece of software which acts as a local proxy, translating all requests to authenticated NTLM requests to your upstream proxy. This guide covers the (offline) installation, setup, getting the correct password hash and system-wide configuration. It should work on a desktop as well, but I did not test that.</description> 
                <pubDate>Sat, 27 Oct 2018 00:00:00 GMT</pubDate>
                <lastBuildDate>Sat, 27 Oct 2018 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>Windows 7 installer on a KVM Linux VPS (Windows on Digital Ocean)</title> 
                <link>https://raymii.org/s/tutorials/Windows_7_Installer_on_KVM_Linux_VPS_Digital_Ocean.html</link> 
                <guid>https://raymii.org/s/tutorials/Windows_7_Installer_on_KVM_Linux_VPS_Digital_Ocean.html</guid>
                <description>For fun I wanted to install Windows 7 on a KVM Linux VPS (on [Digital Ocean) but it should work for any KVM or XEN-HVM VPS with console access). I was experimenting with Grub2 and ISO booting, since grub2 can natively boot a linux ISO. For Windows this is not possible, the installer needs to be extracted on a FAT32 partition from which you boot. On a normal system I would repartition the disk using a live CD, but on a VPS where an ISO cannot be booted this is troublesome. If I could boot from an ISO I would use that to install Windows, but where's the fun in that? I had to figure out how to shrink an EXT4 filesystem from a running Ubuntu VPS, which is possible, however very risky, with pivot_root. Next the partiton table can be converted to MBR, the partition can be resized, a FAT32 partiton and filesystem can be created, the Windows Installer files copied onto that, some Grub config and a reboot later, you're in the Windows 7 Installer.</description> 
                <pubDate>Sun, 01 Jul 2018 00:00:00 GMT</pubDate>
                <lastBuildDate>Sun, 01 Jul 2018 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>NGINX: Catch all error codes</title> 
                <link>https://raymii.org/s/snippets/NGINX_Catch_all_error_codes.html</link> 
                <guid>https://raymii.org/s/snippets/NGINX_Catch_all_error_codes.html</guid>
                <description>This little nginx config snippet shows you how to catch all error codes and show a single unified error page.</description> 
                <pubDate>Wed, 13 Mar 2013 00:00:00 GMT</pubDate>
                <lastBuildDate>Wed, 13 Mar 2013 00:00:00 GMT</lastBuildDate>
            </item>
    
            <item>
                <title>NGINX: Hide / Block .git and .svn folders</title> 
                <link>https://raymii.org/s/snippets/NGINX_Block_access_to_.git_or_.svn_project_folders.html</link> 
                <guid>https://raymii.org/s/snippets/NGINX_Block_access_to_.git_or_.svn_project_folders.html</guid>
                <description>This little nginx config snippets helps you prohibit access to .git or .svn folders in nginx</description> 
                <pubDate>Wed, 13 Mar 2013 00:00:00 GMT</pubDate>
                <lastBuildDate>Wed, 13 Mar 2013 00:00:00 GMT</lastBuildDate>
            </item>
    
        </channel>
    </rss>
    
    